<?xml version="1.0"?>
<ProSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Mode>Del</Mode>
  <FileExt>.aspx;.config;.css;.htm;.asax;.dll</FileExt>
  <FileExtDel>.sln;.csproj;.user;.cs;.resx;.webinfo;.vspscc;.vssscc;.scc</FileExtDel>
  <SourceDirectory></SourceDirectory>
  <TargetDirectory></TargetDirectory>
</ProSettings>