<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enabled>true</Enabled>
  <ServerUrl>http://codeupdate.jsoft.me/AutoupdateService.xml</ServerUrl><!--服务器地址-->
  <UserName /><!--账号-->
  <PassWord /><!--密码-->
  <TryTimes>2</TryTimes><!--重试次数-->
  <UpdateFileList><!--文件列表-->
    <LocalFile path="站点检测运营工具/ABCpdf.dll" lastver="7.0.0.8" size="2056136" version="d189e3cf-2698-43fb-8000-43dca28178ca" tryTimes="" />
  </UpdateFileList>
</Config>