<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="console" xsi:type="Console" layout="${date:format=HH\:MM\:ss} ${logger} ${message}" />
		<target name="file" xsi:type="File" filename="${basedir}\.log\${shortdate}\${logger}.txt"
						layout="#${Counter} ${longdate} | Logger Name=${logger} | ThreadID=${threadid} | Process Info=${processinfo}${NewLine} -> Message=[${message}]${NewLine}#-----------------------------------------------------"/>
		<target name="database" type="Database">

			<dbprovider>mssql</dbprovider>

			<!-- database connection parameters -->
			<!-- alternatively you could provide a single 'connectionstring' parameter -->
			<!-- 
					CREATE TABLE [LogTable](
						[sequence_id] [int] IDENTITY(1,1) NOT NULL,
						[time_stamp] [datetime] NOT NULL,
						[level] [varchar](5) NOT NULL,
						[logger] [varchar](80) NOT NULL,
						[message] [varchar](4095) NOT NULL,
						[ext1] [varchar](4095) NULL,
						[ext2] [varchar](4095) NULL,
						[ext3] [varchar](4095) NULL,
					PRIMARY KEY CLUSTERED([sequence_id] ASC)) ON [PRIMARY]
			-->
			<dbhost>192.168.2.225</dbhost>
			<dbdatabase>NLogDatabase</dbdatabase>
			<dbusername>sa</dbusername>
			<dbpassword>login@123456</dbpassword>

			<commandText>
				insert into LogTable(time_stamp,level,logger,message) values(@time_stamp, @level, @logger, @message);
			</commandText>

			<parameter name="@time_stamp" layout="${date}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@message" layout="${message}" />
		</target>
	</targets>

	<rules>
		<logger name="appException" minlevel="trace" writeTo="file" />
		<logger name="appDebug" minlevel="trace" writeTo="file" />
		<logger name="appInfo" minlevel="trace" writeTo="file" />
		<logger name="bizError" minlevel="trace" appendTo="database" />
		<logger name="bizWarn" minlevel="trace" appendTo="database" />
		<logger name="bizInfo" minlevel="trace" appendTo="database" />
	</rules>
</nlog>